
#usabilla-choice-container .choice {
    cursor: pointer;
    display: inline-block;
    width: 145px; 
    min-height: 100px;
    text-align: center;
    margin: 23px 5px 3em;
    vertical-align: top;
    border: 1px solid rgba(156,172,186,0.3);
    border-radius: 20px;
    padding: 11px;
    transition: transform 100ms ease-in-out, box-shadow 100ms ease-in-out;
  }
  
   .card-img-top {
    background-size: 670px;
    height: 60px;
    width: 100px;
    margin: 11px auto;
  }
  #logo {
    box-sizing: content-box;
    position: relative;
    width: 100%;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    padding: 19px;
    top: -19px;
    left: -19px;
    margin-bottom: -19px;
    background-image: url(https://pbs.twimg.com/profile_images/1219545956166905856/TOjdTyo2_400x400.png);
    background-repeat: no-repeat;
    background-origin: content-box;
    background-size: auto 40px;
    height: 20px;
    padding: 19px;
    background-position: left;
  }
  h4{
    font-size: 1.14286em;
    text-align: center;
    width: 100%;
    margin: 0 auto;
    margin-bottom: 5px;
    display: block;
    margin-block-start: 1.33em;
    margin-block-end: 1.33em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    font-weight: bold;
  }
    #usabilla-choice-container .choice span {
    font-family: "halyardtext_reg_a1dfde67-";
    font-weight: 100;
    display: block;
    max-width: 135px;
    margin: auto;
  }
  
  
  .powered-by {
    font-family: "halyardtext_reg_a1dfde67-";
    font-size: 15px;
    font-weight: 100;
    font-size: 11px;
    color: #0F1013;
    display: block;
    text-decoration: none;
    text-align: left;
    position: absolute;
    bottom: 19px;
  }
  
  #contents, #usabilla-metadata-container form, #usabilla-metadata-container .feedback {
    padding: 30px;
  }
  #usabilla-choice-container .choice:hover {
    box-shadow: 0 2px 4px 0 rgb(186 200 211 / 75%);
    transform: translateY(-7%);
  }
  
  #usabilla-choice-container {
    margin: 0 auto;
  }
  #title {
    box-sizing: content-box;
    position: relative;
    width: 100%;
    border-top-left-radius: 6px;
    border-top-right-radius: 6px;
    padding: 25px;
    top: -19px;
    left: -19px;
    margin-bottom: -19px;
     
    height: 20px;
     
    background-position: left;
    padding: 19px 33px;
    top: -33px;
    left: -33px;
    margin-bottom: -14px;
    margin-bottom: -33px;
  }
  #title {
    font-family: radnika-next, -apple-system, system-ui, "Segoe UI", Roboto,
      Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
    transition: all 0.2s;
    font-weight: 700;
    z-index: 1;
    text-shadow: 8px 8px 3px rgba(0, 0, 0, 0.1);
    text-align: center;
  }
  
  .mystyle {
      border: 3px solid rgb(20, 198, 211);
    }
 